.navigation-bar{
    width: 100%;
    align-content: center;
    background-color: bisque;
    border: black
}

.navigation-tab{
    width: 100%;
    height: 40px;
    border: black;
    border-width: 5px
}

.navigation-col{
    width: 33%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5ch;
    text-align: center;
    border-color: black;
    border-width: 2px;
    border-style: solid;

}
